<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UdpSocket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4DD98921D0D5F5600E25805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4DD98AE1D0D5F5700E25805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4DD98B91D0D5F5700E25805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
